h1, h2, h3, p, code, pre{
  margin-bottom: $m;
}

h1, h2, h3{
  font-weight: 100;
}

p, table, figcaption, dt, dl, dd{
  line-height: 120%;
  font-size: $s;
}

h1{
  font-size: $l;
  transition: .5s;
  line-height: 100%;

  @media only screen and (min-width: $vp-medium){
    font-size: $xl;
    line-height: 120%;
  }
}

h2{
  font-size: $l;
}

h3{
  font-size: $m;
}

.herotext{
  font-size: $m;
  padding-bottom: $m;
  line-height: 100%;

  @media only screen and (min-width: $vp-medium){
    font-size: $l;
    line-height: 120%;
  }

  @media only screen and (min-width: $vp-xlarge) {
    width: 50%;
  }
}
